<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
    <li><a href="{{ path('publications') }}">List Publications</a></li>
    <li><a href="{{ path('addPublication') }}">Add Publication</a></li>
    <li><a href="{{ path('authors') }}">List Authors</a></li>
    <li><a href="{{ path('addAuthor') }}">Add Author</a></li>
  </ul>
</div><!--/.nav-collapse -->
